$primary-color : #eae9e4;
$secondary-color : #53389E;
$tertiary-color : rgba(134, 46, 111, 0.469);

@import './partials/main';
@import './partials/header';
@import './partials/footer';
@import './partials/cards';


body{
    background-color: $primary-color;
    margin: 0;
}