$primary-color : #eae9e4;
$secondary-color : #53389E;
$tertiary-color : rgba(134, 46, 111, 0.469);

@import './partials/main';
@import './partials/header';
@import './partials/footer';
@import './partials/cards';

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
    font-family: 'Varela';
    src: url(/src/sass/fonts/VarelaRound-Regular.ttf);
}

body{
    background-color: $primary-color;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}
