
@mixin banner() {
  .banner {
    width: auto;
    overflow: hidden;
    position: relative;
  }
  &_text {
    color: #fff;
    position: absolute; 
    font-size: 30px;
    top: 50%; 
    left: 20%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    padding: 10px;
    z-index: 1;
  }
  &_img {
    max-width: 100%;
    clip-path: polygon(0 30%, 100% 30%, 100% 90%, 0 90%); 
    margin-top: -300px;
  }
}
