
@mixin banner() {
    width: auto;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
  &_text {
    padding: 2em;
    &_title {
      color: $secondary-color;
      text-align: center;
      margin: 0;
    }
    &_description {
      font-size: 1.7em;
      text-align: center;
      margin: 0;
    }
  }
  &_img {
    width: 65%;
    height:100%;
    border-radius: 0 60% 3% 3%;
    border-top: $secondary-color 3px solid;
    border-right: $secondary-color 3px solid;
    object-fit: contain;
  }
}
