
@mixin card() {
  .card {
    font-family: 'Varela';
    width: 15rem; 
    height: 31rem;
    width: 15rem; 
    background-color: #fff;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
    margin: 20px;
    &_img {
      width: 100%;
      height: auto; 
    }
    &_body {
      padding: 0.75rem;
      &_text {
        font-size: 0.875rem;
        color: #666;
      }
    }
    &_body_title {
      background-color: $secondary-color;
      color: white;
      text-align: center;
      font-size: 1.4rem;
      margin-bottom: 0.15rem;
      margin-top: -7px; 
    }
    &_link {
      display: block;
      text-decoration: none;
      color: $secondary-color; 
      font-weight: bold;
      text-align: right;
      padding-right: 30px;
    }

    .list {
      border-top: 1px solid $secondary-color;
      padding: 15px 15px 0 15px;
      &_item {
        font-size: 1rem;
        color: #666; 
        margin-bottom: 0.7rem;
      }
    }
  }
}

